$main-color: #ff6060;
$breakpoint-small: 768px;

@import "../../utils/style/global.module.scss";

.error {
  &__code {
    font-size: 288px;
    text-align: center;
    color: $main-color;
    font-weight: 700;

    @media (max-width: $breakpoint-small) {
      font-size: 96px;
      margin: 70px auto;
    }
  }

  &__text {
    text-align: center;
    color: $main-color;
    font-size: 36px;

    @media (max-width: $breakpoint-small) {
      font-size: $font-size-medium;
    }
  }

  &__link__wrapper {
    margin: 60px 0;
    text-align: center;

    a {
      text-decoration: none;

      p {
        border-bottom: 1px solid $main-color;
        text-align: center;
        color: $main-color;
        display: inline;

        @media (max-width: $breakpoint-small) {
          font-size: 14px;
        }
      }
    }
  }
}
