.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  justify-content: center;
  gap: 16px;
  padding: 40px;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-top: 35px;
}
