.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: #fff;
  border-radius: 5px;
}

.accordion__icon {
  margin-right: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.rotate {
  transform: rotate(-180deg);
}

.accordion__title {
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
}

.accordion__content__wrapper {
  background-color: #f6f6f6;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.accordion__content {
  padding: 20px;
}

.accordion__content p {
  color: #ff6060;
  line-height: 25px;
}

.active {
  max-height: 500px;
}
